.markdown-body {
  @apply flex flex-col max-w-6xl w-11/12 px-6 mt-40 overflow-auto overflow-hidden;
}

.markdown-body h1 {
  @apply text-5xl font-bold my-2;
}

.markdown-body h2 {
  @apply text-4xl font-bold my-2;
}

.markdown-body h3 {
  @apply text-3xl font-bold my-2;
}

.markdown-body h4 {
  @apply text-2xl font-bold my-2;
}

.markdown-body h5 {
  @apply text-xl font-bold my-2;
}

.markdown-body h6 {
  @apply text-lg  font-bold my-2;
}

.markdown-body p {
  @apply text-lg my-2 text-inherit font-normal text-black;
  text-indent: 2.25rem;
  color: rgba(0, 0, 0, 0.7);
}

.markdown-body blockquote {
  @apply border-l-4 border-gray-100;
}

.markdown-body blockquote blockquote {
  margin-left: 2.25rem;
}

.markdown-body blockquote p {
  text-indent: 0;
  margin-left: 2.25rem;
}

.markdown-body .video-play iframe {
  min-height: 32rem;
}

.markdown-body strong {
  font-weight: 700;
}

.markdown-body img {
  /* @apply shadow-sm; */
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}

.markdown-body pre {
  @apply mx-9 py-1 bg-gray-100 px-12;
}

.markdown-body pre > code {
}

.markdown-body video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.markdown-body video::-webkit-media-controls-timeline {
  display: none;
}

.markdown-body video::-webkit-media-controls-current-time-display {
  display: none;
}

.markdown-body video::-webkit-media-controls-time-remaining-display {
  display: none;
}

.markdown-body video::-webkit-media-controls-mute-button {
  display: none;
}

.markdown-body video::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}
.markdown-body video::-webkit-media-controls-volume-slider {
  display: none;
}

video::-webkit-media-controls-play-button {
  display: unset;
}

.markdown-body a {
  @apply text-dark-blue font-semibold underline hover:text-orange-500;
}

.before-button:hover span {
  @apply text-dark-blue;
}

.before-button:hover svg #lsvg {
  animation: 0.2s svgtr forwards;
}

.before-button:hover svg #lsvg circle {
  animation: 0.2s svgtr2;
}

.after-button:hover span {
  @apply text-dark-blue;
}

.after-button:hover svg #rsvg {
  animation: 0.2s svgtr forwards;
}

.after-button:hover svg #rsvg circle {
  animation: 0.2s svgtr2;
}

@keyframes svgtr {
  0% {
  }
  100% {
    /* fill: #0042f6;
    stroke: #fff; */

    stroke: #0042f6;

    stroke-width: 2;
  }
}

@keyframes svgtr2 {
  0% {
    r: 36;
  }
  50% {
    r: 34;
  }
  100% {
    r: 36;
  }
}

ul.slides {
  position: relative;
  width: 100%;
  height: 680px;
  list-style: none;
  background-color: #0042f6;
  overflow: hidden;
}

.slides {
  /* padding: 10px 40px; */
}

li.slide {
  width: 100%;
  height: inherit;
  position: absolute;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 120px;
  color: #fff;
  transition: 0.5s transform ease-in-out;
}

li.slide > span {
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.navigator {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  display: none;
}

.fas {
  width: 16px;
  height: 16px;
  transform-origin: center;
}

.fa-chevron-left {
  background: url("../assets/ctrl-left.svg") no-repeat;
  transform: scale(2);
  transition: 0.2s;
}

.fa-chevron-left:hover {
  background: url("../assets/ctrl-left-2.svg") no-repeat;
  transform: translateX(-4px) scale(2.2);
}

.fa-chevron-right {
  background: url("../assets/ctrl-right.svg") no-repeat;
  transform: scale(2);
  transition: 0.2s;
}

.fa-chevron-right:hover {
  background: url("../assets/ctrl-right-2.svg") no-repeat;
  transform: translateX(4px) scale(2.2);
}

input[type="radio"] {
  position: relative;
  z-index: 100;
  display: none;
}

.controls-visible {
  position: absolute;
  width: 100%;
  bottom: 12px;
  text-align: center;
}

.controls-visible label {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 3px;
  border: 2px solid #fff;
}

p > strong {
  @apply font-semibold;
}

.markdown-body ul > li::marker {
  color: #0042f6;
}

@media screen and (min-width: 375px) and (max-width: 639px) {
  .markdown-body {
    padding: 0 !important;
  }

  markdown-body h1 {
    font-size: 2rem !important;
  }
  markdown-body h5 {
    font-size: 0.5rem !important;
    line-height: 1.25rem !important;
  }
  markdown-body p {
    font-size: 0.5rem !important;
    line-height: 1.25rem !important;
  }
  .before-button {
    font-size: 0.5rem !important;
    line-height: 1.25rem !important;
  }
  .after-button {
    font-size: 0.5rem !important;
    line-height: 1.25rem !important;
  }
  .bottom-navigation {
    padding: 1rem 0 !important;
  }
  blockquote p {
    margin: 0.25rem 1rem !important;
  }
  blockquote blockquote {
    margin: 0.25rem 1rem !important;
  }
  markdown-body a svg {
    transform: scale(0.5);
  }
  .before-button div {
    transform: translateX(-16px);
  }
  .before-button div span:nth-child(2) {
    display: none;
  }
  .before-button:hover div {
    transform: translateX(-24px);
  }
  .after-button div {
    transform: translateX(20px);
  }
  .after-button div span:nth-child(2) {
    display: none;
  }
  .after-button:hover div {
    transform: translateX(24px);
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  markdown-body h1 {
    font-size: 3rem !important;
  }
  markdown-body h5 {
    font-size: 0.85rem !important;
  }
  markdown-body p {
    font-size: 0.85rem !important;
  }
  .before-button {
    font-size: 0.85rem !important;
  }
  .after-button {
    font-size: 0.85rem !important;
  }
  .bottom-navigation {
    padding: 2rem 0 !important;
  }
  blockquote p {
    margin: 0.25rem 1rem !important;
  }
  blockquote blockquote {
    margin: 0.25rem 1rem !important;
  }
  markdown-body a svg {
    transform: scale(0.5);
  }
  .before-button div {
    transform: translateX(-20px);
  }
  .before-button:hover div {
    transform: translateX(-24px);
  }
  .after-button div {
    transform: translateX(20px);
  }
  .after-button:hover div {
    transform: translateX(24px);
  }
}

@media screen and (min-width: 1920px) {
  .markdown-body {
    @apply max-w-7xl;
  }
}
